<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.rest.common.persistence.dao.CountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.rest.common.persistence.model.Count">
        <id column="uuid" property="uuid" />
        <result column="bus_id" property="busId" />
        <result column="begin_time" property="beginTime" />
        <result column="end_time" property="endTime" />
        <result column="bus_status" property="busStatus" />
        <result column="price" property="price" />
        <result column="selected_seats" property="selectedSeats" />
        <result column="seat_status" property="seatStatus" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <select id="selectCounts"  resultType="com.stylefeng.guns.rest.bus.dto.CountSimpleDto">
        SELECT
            sc.uuid ,
            sc.begin_date ,
            sc.begin_time ,
            sc.bus_id ,
            sc.bus_status,
            sc.seat_status
        FROM
            sb_count sc
        ${ew.customSqlSegment}
    </select>

    <select id="selectCountDetailById" resultType="com.stylefeng.guns.rest.bus.dto.CountDetailDto">
        SELECT
            sc.uuid ,
            sc.bus_id ,
            sc.bus_status ,
            sc.begin_time ,
            sc.begin_date ,
            sc.selected_seats ,
            sc.price,
            sb.driver_name ,
            sb.seats_number
        FROM
            sb_count sc
        LEFT JOIN sb_bus sb ON
            sc.bus_id = sb.uuid
        ${ew.customSqlSegment}
    </select>
</mapper>
